*{
  font-family: 'Raleway', sans-serif;
}
.logo{
  font-family: 'Ubuntu', sans-serif;
  color: rgb(223, 17, 17);
  font-size: 30px;
  margin-left: 0;
}
.nav-link:hover{
 font-weight: bold;
}
/* Cards Styles */
#card01{
  background-color: #a2fbd9;
}
#card02{
  background-color: #9ea4b5;
}
#card03{
  background-color: #a2fbd9;
}
/* Review styles */

.review img{
  border: 2px solid goldenrod;
   border-radius: 50%;
}
.review{
  background-color: #eaeaf8;
  border-radius: 20px;
  padding: 15px;
}
.review h4{
  color:rgb(147, 107, 5)
}
/* Faq Styles */
#section-faq{
  padding: 20px;
  border-radius: 15px;
}
.faq-image{
  width: 300px;
  height: auto;
}
.accordion-item{
  background-color: rgb(232, 255, 247);
}
/* Blogs Styles */
.blogs-container h3{
  color-scheme: rgb(147, 14, 14);
}
.google-logo{
  width: 150px;
  height: auto;
}
.title{
  color: rgb(73, 8, 177);
}
/* footer styles */
.footer-hover:hover {
  color: white !important;
  cursor: pointer;
}