@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Raleway', sans-serif;
}
.google-logo{
  width: 150px;
  height: auto;
}
/* footer styles */
.footer-hover:hover {
  color: white !important;
  cursor: pointer;
}